
@{
    ViewData["Title"] = "NeobrađeniZahtjevi";
    Layout = "~/Views/Shared/studentskaNeobrađeniZahtjeviLayout.cshtml";
}

<div class="main-wrapper">
    <div class="header">
        <!-- Header start -->
        <div class="header-left">
            <a href="~/studentska/dashboard" class="logo">
                <img src="~/images/logo.png" width="40" height="40" alt="">
                <span class="text-uppercase">Zamger-v2</span>
            </a>
        </div>
        <div class="page-title-box float-left">
            <h3 class="text-uppercase">Preschool</h3>
        </div>
        <a id="mobile_btn" class="mobile_btn float-left" href="https://dreamguys.co.in/preadmin/school/dark/index.html#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <ul class="nav user-menu float-right">
            <li class="nav-item dropdown d-none d-sm-block">
                @if (ViewBag.zahtjevi != null)
                {
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell"></i> <span class="badge badge-pill bg-primary float-right">@ViewBag.zahtjevi.Count</span></a>
                }
                else
                {
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell"></i></a>
                }
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span>Zahtjevi</span>
                    </div>
                    <div class="drop-scroll">
                        <ul class="notification-list">
                            @if (ViewBag.zahtjevi != null)
                            {
                                foreach (Tuple<String, Zahtjev> tpl in ViewBag.zahtjevi)
                                {
                                    TimeSpan ts = DateTime.Now - tpl.Item2.Datum;
                                    <li class="notification-message">
                                        <a href="/studentska/obradi-zahtjev/@tpl.Item2.IdZahtjeva">
                                            <div class="media">
                                                <span class="avatar">
                                                    <img alt="John Doe" src="~/images/user.jpg" class="img-fluid rounded-circle">
                                                </span>
                                                <div class="media-body">
                                                    <p class="noti-details"><span class="noti-title">@tpl.Item1 </span>@tpl.Item2.Vrsta</p>
                                                    <p class="noti-time">
                                                        <span class="notification-time">
                                                            @tpl.Item2.Datum
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="/studentska/neobradjeni-zahtjevi">Vidi sve zahtjeve</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="~/images/user.jpg" width="40" alt="Admin">
                        <span class="status online"></span>
                    </span>
                    <span>Studentska</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/studentska/moj-profil">Moj Profil</a>
                    <a class="dropdown-item" href="/Početni/OdjaviSe">Odjavi se</a>
                </div>
            </li>
        </ul>
        <div class="dropdown mobile-user-menu float-right">
            <!-- mobile menu -->
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Moj Profil</a>
                <a class="dropdown-item" href="~/">Odjavi se</a>
            </div>
        </div>
    </div>
    <div class="sidebar" id="sidebar">
        <!-- sidebar -->
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 663px;">
            <div class="sidebar-inner slimscroll" style="overflow: hidden; width: 100%; height: 663px;">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Glavni meni</li>
                        <li class="active">
                            <a href="~/studentska/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Početna</a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> <span> Nastavno osoblje</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="/studentska/svo-nastavno-osoblje-list">Svo nastavno osoblje</a></li>
                                <li><a href="/studentska/kreiraj-nastavno-osoblje">Kreiraj osobu</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> <span> Studenti</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="/studentska/svi-studenti">Svi studenti</a></li>
                                <li><a href="~/studentska/kreiraj-studenta">Kreiraj studenta</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-book" aria-hidden="true"></i><span> Predmeti </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="/studentska/svi-predmeti-list">Svi predmeti</a></li>
                                <li><a href="/studentska/kreiraj-predmet">Kreiraj predmet</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/studentska/nadolazeci-ispiti"><i class="fa fa-table" aria-hidden="true"></i>Nadolazeći ispiti</a>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> <span> Obavještenja</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="~/studentska/sva-obavještenja-list">Sva obavještenja</a></li>
                                <li><a href="/studentska/kreiraj-obavjestenje">Dodaj obavještenja</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-money" aria-hidden="true"></i><span> Plate osoblja </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="/studentska/plate-svih-uposlenih"> Plata svih uposlenih</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 499.812px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
    </div>



    <div class="page-wrapper" style="min-height: 723px;">
        <!-- content -->
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <h5 class="text-uppercase">Neobrađeni zahtjevi</h5>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <ul class="list-inline breadcrumb float-right">
                            <li class="list-inline-item"><a href="/studentska/dashboard">Početna</a></li>
                            <li class="list-inline-item"> Neobrađeni zahtjevi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-page">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <div class="col-sm-12">
                                    <table class="table table-striped custom-table datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr role="row"><th style="min-width: 50px; width: 150px;" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name : activate to sort column descending">Ime i prezime </th><th style="min-width: 50px; width: 200px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Section: activate to sort column ascending">Vrsta zahtjeva</th><th style="min-width: 80px; width: 80.4px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date of Birth: activate to sort column ascending">Vrijeme zahtjeva</th><th class="text-right sorting" style="min-width: 50px; width: 50px;" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Akcija</th></tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.zahtjevi != null)
                                            {
                                                for (int i = 0; i < ViewBag.zahtjevi.Count; i++)
                                                {
                                                    if (i % 2 == 0)
                                                    {
                                                        <tr role="row" class="odd">
                                                            <td>@ViewBag.zahtjevi[i].Item1</td>
                                                            <td>@ViewBag.zahtjevi[i].Item2.Vrsta</td>
                                                            <td>@ViewBag.zahtjevi[i].Item2.Datum</td>
                                                            <td class="text-right">
                                                                <a href="/studentska/obradi-zahtjev/@ViewBag.zahtjevi[i].Item2.IdZahtjeva" class="btn btn-primary btn-sm mb-1">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr role="row" class="even">
                                                            <td>@ViewBag.zahtjevi[i].Item1</td>
                                                            <td>@ViewBag.zahtjevi[i].Item2.Vrsta</td>
                                                            <td>@ViewBag.zahtjevi[i].Item2.Datum</td>
                                                            <td class="text-right">
                                                                <a href="/studentska/obradi-zahtjev/@ViewBag.zahtjevi[i].Item2.IdZahtjeva" class="btn btn-primary btn-sm mb-1">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="delete_employee" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-md">
                <div class="modal-header">
                    <h4 class="modal-title">Delete student</h4>
                </div>
                <form>
                    <div class="modal-body card-box">
                        <p>Are you sure want to delete this?</p>
                        <div class="m-t-20">
                            <a href="https://dreamguys.co.in/preadmin/school/dark/students-list.html#" class="btn btn-white" data-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-overlay" data-reff=""></div>
<script type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/js/popper.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="~/js/select2.min.js"></script>
<script type="text/javascript" src="~/js/moment.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="~/js/app.js"></script>



