@Model Student
@{
    ViewData["Title"] = "searchStudentsForMessage";
    Layout = "~/Views/Shared/sendMessageLayout.cshtml";
}

<div class="main-wrapper">
    <div class="header">
        <!-- Header start -->
        <div class="header-left">
            <a href="~/student/dashboard" class="logo">
                <img src="~/images/logo.png" width="40" height="40" alt="">
                <span class="text-uppercase">Zamger-v2</span>
            </a>
        </div>
        <div class="page-title-box float-left">
            <h3 class="text-uppercase">Preschool</h3>
        </div>
        <a id="mobile_btn" class="mobile_btn float-left" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <ul class="nav user-menu float-right">
            @{
                int brojNeprocitanih = 0;
                if (Model.Inbox != null)
                {
                    foreach (Poruka p in Model.Inbox)
                    {
                        if (p.Procitana == 0) brojNeprocitanih++;
                    }
                }
            }
            <li class="nav-item dropdown d-none d-sm-block">
                <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link">
                    <i class="fa fa-comment"></i>
                    @if (brojNeprocitanih != 0)
                    {
                        <span class="badge badge-pill bg-primary float-right">@brojNeprocitanih</span>
                    }
                </a>
            </li>
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="~/images/user.jpg" width="40" alt="Admin">
                        <span class="status online"></span>
                    </span>
                    <span>@Model.Ime</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="~/student/moj-profil">Moj Profil</a>
                    <a class="dropdown-item" href="/Početni/OdjaviSe">Odjavi se</a>
                </div>
            </li>
        </ul>
        <div class="dropdown mobile-user-menu float-right">
            <!-- mobile menu -->
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Moj Profil</a>
                <a class="dropdown-item" href="~/">Odjavi se</a>
            </div>
        </div>
    </div>
    <div class="sidebar" id="sidebar">
        <!-- sidebar -->
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 663px;">
            <div class="sidebar-inner slimscroll" style="overflow: hidden; width: 100%; height: 663px;">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Glavni meni</li>
                        <li class="active">
                            <a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> Početna</a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-book" aria-hidden="true"></i><span> Predmeti </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">

                                <li><a href="/student/predmeti-list">Moji predmeti</a></li>


                            </ul>
                        </li>
                        <li>
                            <a href="/student/nadolazece-aktivnosti"><i class="fa fa-table" aria-hidden="true"></i>Nadolazeće aktivnosti</a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i> <span> Obavještenja</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a href="/student/sva-obavještenja-list">Sva obavještenja</a></li>
                            </ul>
                        </li>
                       <li class="submenu">
                                <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"></i> <span> Aktivne ankete</span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled" style="display: none;">
                                    <li><a href="/student/aktivne-ankete">Moje ankete</a></li>
                                </ul>
                       </li>
                            <li class="submenu">
                                <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> <span> Poruke</span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled" style="display: none;">
                                    <li><a href="~/student/studenti-list">Pošalji poruku</a></li>
                                    <li><a href="/student/poruke/moj-inbox">Inbox</a></li>
                                    <li><a href="/student/poruke/moj-outbox">Outbox</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="fa fa-plane" aria-hidden="true"></i> <span> Zahtjevi</span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled" style="display: none;">
                                    <li><a href="/student/moji-zahtjevi">Moji zahtjevi</a></li>
                                    <li><a href="/student/kreiraj-zahtjev">Pošalji zahtjev</a></li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 499.812px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
    </div>


    <div class="page-wrapper" style="min-height: 723px;">
        <!-- content -->
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <h5 class="text-uppercase">Svi studenti - list</h5>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <ul class="list-inline breadcrumb float-right">
                            <li class="list-inline-item"><a href="/studentska/dashboard">Početna</a></li>
                            <li class="list-inline-item"> Svi studenti - list</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="content-page">

                <form asp-antiforgery="false" asp-action="searchStudentsForMessageForm" method="post">

                    <div class="row filter-row">

                        <div class="col-sm-6 col-md-2">
                            <div class="form-group custom-mt-form-group">
                                <input type="text" name="ime">
                                <label class="control-label">Ime</label><i class="bar"></i>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <div class="form-group custom-mt-form-group">
                                <input type="text" name="Prezime">
                                <label class="control-label">Prezime</label><i class="bar"></i>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-2">
                            <button class="btn btn-success btn-block mt-4 mb-2" type="submit"> Pretraži </button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table">
                            <thead>
                                <tr>
                                    <th>Ime i prezime</th>
                                    <th>Tip korisnika</th>
                                    <th>Username</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (ViewBag.korisnici != null)
                                {
                                    foreach (Korisnik korisnik in ViewBag.korisnici)
                                    {
                                        string status = "student";
                                        int id = -1;
                                        string username = "";
                                        if (korisnik.GetType() == typeof(NastavnoOsoblje))
                                        {
                                            NastavnoOsoblje no = (NastavnoOsoblje)korisnik;
                                            status = no.Titula;
                                            id = (int)no.IdOsobe;
                                            username = no.Username;
                                        }
                                        else if (korisnik.GetType() == typeof(Student))
                                        {
                                            Student stud = (Student)korisnik;
                                            id = (int)stud.BrojIndeksa;
                                            username = stud.Username;

                                        }
                                        else if (korisnik.GetType() == typeof(Profesor))
                                        {
                                            Profesor profa = (Profesor)korisnik;
                                            status = profa.Titula;
                                            id = (int)profa.IdOsobe;
                                            username = profa.Username;
                                        }

                                        if (id == Model.BrojIndeksa) continue;
                                        <tr role="row">
                                            <td><a href="~/student/studenti-list/pretraga/@id">@korisnik.Ime @korisnik.Prezime</a></td>
                                            <td>@status</td>
                                            <td>@username</td>
                                        </tr>

                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Poruke</span>
                    </div>
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 599px;">
                        <div class="drop-scroll msg-list-scroll" style="overflow: hidden; width: auto; height: 599px;">
                            <ul class="list-box">


                                @if (Model.Inbox != null)
                                {


                                    foreach (Poruka p in Model.Inbox)
                                    {
                                        if (p.Procitana == 0)
                                        {
                                            <li>
                                                <a href="/student/poruke/moj-inbox/@p.IdPoruke">
                                                    <div class="list-item">
                                                        <div class="list-left">
                                                            <span class="avatar">@p.UserPosiljaoca[0]@p.UserPosiljaoca[1]</span>
                                                        </div>
                                                        <div class="list-body">
                                                            <span class="message-author">@p.UserPosiljaoca</span>
                                                            <span class="message-time">@p.VrijemePoruke</span>
                                                            <div class="clearfix"></div>
                                                            <span class="message-content">@p.Sadrzaj</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div><div class="slimScrollBar" style="background: rgb(135, 135, 135); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 809px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="/student/poruke/moj-inbox">Vidi sve poruke</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
<script type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/js/popper.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="~/js/select2.min.js"></script>
<script type="text/javascript" src="~/js/moment.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="~/js/morris.min.js"></script>
<script type="text/javascript" src="~/js/raphael-min.js"></script>
<script type="text/javascript" src="~/js/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/js/jquery.fullcalendar.js"></script>
<script type="text/javascript" src="~/js/chart.js"></script>
<script type="text/javascript" src="~/js/app.js"></script>



